* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: "Bebas Neue", sans-serif;
}

#search-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  margin: 0 auto;
}

#search-panel > input {
  display: none;
}

#search-panel > label {
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.75rem;
  justify-self: start;
}
#search-panel > label::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  height: 0.125rem;
  background-color: #000;
  transition: width 0.5s, left 0.5s;
}

#search-panel > input:checked + label::after {
  left: 0;
  width: 100%;
}

#search-results {
  gap: 1rem;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(90px, 250px));
  grid-column: 1/-1;
}

.card {
  position: relative;
}
.card img {
  width: 100%;
  border: 1px solid black;
}
.card p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0.125rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  text-align: center;
  height: 1.5rem;
  word-spacing: 0.25rem;
  letter-spacing: 0.25px;
  font: 1rem/1.5 "Bebas Neue", sans-serif;
}

input[name=class][value=tank]:checked ~ section > div:not([champ-class*=tank i]) {
  display: none;
}

input[name=class][value=fighter]:checked ~ section > div:not([champ-class*=fighter i]) {
  display: none;
}

input[name=class][value=mage]:checked ~ section > div:not([champ-class*=mage i]) {
  display: none;
}

input[name=class][value=marksman]:checked ~ section > div:not([champ-class*=marksman i]) {
  display: none;
}

input[name=class][value=slayer]:checked ~ section > div:not([champ-class*=slayer i]) {
  display: none;
}

input[name=class][value=controller]:checked ~ section > div:not([champ-class*=controller i]) {
  display: none;
}

input[name=class][value=specialist]:checked ~ section > div:not([champ-class*=specialist i]) {
  display: none;
}

input[name=lane][value=top]:checked ~ section > div:not([lane*=top]) {
  display: none;
}

input[name=lane][value=mid]:checked ~ section > div:not([lane*=mid]) {
  display: none;
}

input[name=lane][value=jungle]:checked ~ section > div:not([lane*=jungle]) {
  display: none;
}

input[name=lane][value=adc]:checked ~ section > div:not([lane*=adc]) {
  display: none;
}

input[name=lane][value=support]:checked ~ section > div:not([lane*=support]) {
  display: none;
}

#search-panel > input[name=class]:not(#c-all):not(:checked) + label {
  display: none;
}

#search-panel > input#c-all:checked ~ input[name=class] + label {
  display: inline-block;
}

#search-panel > input[name=lane]:not(#l-all):not(:checked) + label {
  display: none;
}

#search-panel > input#l-all:checked ~ input[name=lane] + label {
  display: inline-block;
}

input[id*=-all] + label {
  grid-column: 1;
}

@media screen and (max-width: 2708px) {
  #search-panel {
    width: 2379px;
  }
}
@media screen and (max-width: 2442px) {
  #search-panel {
    width: 2113px;
  }
}
@media screen and (max-width: 2176px) {
  #search-panel {
    width: 1847px;
  }
}
@media screen and (max-width: 1910px) {
  #search-panel {
    width: 1581px;
  }
}
@media screen and (max-width: 1644px) {
  #search-panel {
    width: 1315px;
  }
}
@media screen and (max-width: 1378px) {
  #search-panel {
    width: 1049px;
  }
}
@media screen and (max-width: 1112px) {
  #search-panel {
    width: 783px;
  }
}
@media screen and (max-width: 846px) {
  #search-panel {
    width: 517px;
  }
}
@media screen and (max-width: 580px) {
  #search-panel {
    width: 251px;
  }
}

/*# sourceMappingURL=style.css.map */
